In [3]:
m1 = hcat(
    repeat([1,2], inner=1, outer=3*2),
    repeat([1, 2, 3], inner=2, outer=2),
    repeat([1, 2, 3, 4], inner=3, outer=1)
)

12×3 Array{Int64,2}:
 1  1  1
 2  1  1
 1  2  1
 2  2  2
 1  3  2
 2  3  2
 1  1  3
 2  1  3
 1  2  3
 2  2  4
 1  3  4
 2  3  4

In [12]:
m2 = repmat(m1, 1, 2)
println("size:", size(m2))

size:(12, 6)

In [14]:
m3 = repmat(m1, 2, 1)
println("size:", size(m3))

size:(24, 3)

In [16]:
m4 = [i+j+k for i=1:2, j=1:3, k=1:2]
m5 = ["This is $(i+2*(j-1 + 3*(k-1)))" for i=1:2, j =1:3, k=1:2]

2×3×2 Array{String,3}:
[:, :, 1] =
 "This is 1"  "This is 3"  "This is 5"
 "This is 2"  "This is 4"  "This is 6"

[:, :, 2] =
 "This is 7"  "This is 9"   "This is 11"
 "This is 8"  "This is 10"  "This is 12"

In [20]:
sum(m4, 3)

2×3×1 Array{Int64,3}:
[:, :, 1] =
 7   9  11
 9  11  13

In [21]:
sum(m4, (1,3))

1×3×1 Array{Int64,3}:
[:, :, 1] =
 16  20  24

In [23]:
maximum(m4, 2)

2×1×2 Array{Int64,3}:
[:, :, 1] =
 5
 6

[:, :, 2] =
 6
 7

In [24]:
findmax(m4, 3)

([4 5 6; 5 6 7], [7 9 11; 8 10 12])

In [25]:
m4 .+3

2×3×2 Array{Int64,3}:
[:, :, 1] =
 6  7  8
 7  8  9

[:, :, 2] =
 7  8   9
 8  9  10

In [26]:
m4 .+ [1, 2]

2×3×2 Array{Int64,3}:
[:, :, 1] =
 4  5  6
 6  7  8

[:, :, 2] =
 5  6  7
 7  8  9

In [28]:
m4[:,:,1]

m4[:,2,:]

2×3 Array{Int64,2}:
 3  4  5
 4  5  6

In [35]:
try
squeeze(m4[:,2,:],2)  # Error... why?
catch
    println("error has been occred")
end

error has been occred

In [36]:
m4[:,:,1] = rand(1:6, 2, 3)

2×3 Array{Int64,2}:
 6  5  6
 2  2  2